@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./styles/fonts.scss');
@import url('./styles/buttons.scss');
@import url('./styles/input.scss');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  // color: var(--foreground);
  // background: var(--background);
  font-family: 'Manrope', Helvetica, sans-serif;
  font-weight: 400;
}
